__pycache__
.vscode
.DS_Store

##### FLASK GITIGNORE #####


*.pyc

flask_app/static
flask_app/templates

flaskapp.cfg
discover_weekly
token_info.txt

##### VUE-CLI GITIGNORE #####

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
